
@import "tailwindcss";

html, body {
  background-color: #000;
}

@font-face {
  font-family: 'PlanetoidX';
  src: url('./assets/fonts/PlanetoidX-Lr6Z.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
